@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;
}
body{
  min-height: 100vh;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;   
  background-color: #fcfcfc;      /* Standard */
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
}
.felx col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cursor{
    cursor: pointer;
}