.footer{
    color: white;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    padding: 20px 8vw;
    padding-top: 80px;  
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-content-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.footer-content-left >img{
    width: 150px;
}
.footer-content-center{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.footer-content-right{
    display: flex;
    flex-direction: column;}
.footer-social-icons{
    display: flex;
    gap: 20px;
}
@media (max-width:700px){
    .footer-content{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-content-left{
        width: 100%;
    }
    .footer-content-center{
        width: 100%;
    }
    .footer-content-right{
        width: 100%;
    }
}