.app-download{
    margin: auto auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #808080;
    font-size: 20px;
}
.app-download p{
    margin-bottom: 20px;
}
.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.app-download-platforms img{
    width: 150px;
}