.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
    font-size: 40px;
}
.explore-menu-text{
    max-width: 60%;
    color: #808080;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    /* border: 1px solid black; */
    width: 7.5vw;
    min-width: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item img:hover{
    transform: scale(1.2);
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #808080;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    border: none;
    background-color: aliceblue;
    border-top: 1px solid #808080;
    opacity: 0.5;
    
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
    border-radius: 50%;
}
@media (max-width :950px){
    .explore-menu-text{
        max-width:100%;
        font-size: 14px;
    }   
}