.list-table-format{
    display:grid;
    grid-template-columns: 5% 20% 25% 15% 15% 10% 10%;
    align-items: center;
    text-align: center;
    gap:10px;
    padding:10px 0;
    border-bottom:1px solid #d3d3d3;
    color:#6d6d6d
}
.list-table-format .title{
    background-color: white;
}
.list-table-format img
{
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:5px;
}
@media (max-width: 768px) {
    .list-table-format{
        grid-template-columns: 10% 30% 30% 15% 15%;
    }
    .list-table-format .id, .list-table-format .price{
        display:none;
    }
}